<!DOCTYPE html>
<html>
    <head>
        <title>EV Charger Placer</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/normalize.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/skeleton.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/upload.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:400,700" rel="stylesheet">
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == "error" %}
                        <h3>Error: {{ message }}</h3>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <div class="nav">
            <span class="logo nav-item">Home</span>
            <a class="nav-item" href="#">About</a>
        </div>

        <div class="container">
            <div class="row">
                <h2 class="big-header">Electric Vehicle Charger Placement</h2>
                <div class="line"></div>
                <h4><span class="big-number">1.</span> Choose the input type</h4>
                <div class="row" style="margin-top: -10px;">
                    <button id="json-sel">JSON</button>
                    <button id="csv-sel">CSV</button>
                </div>
                <h4><span class="big-number">2.</span> Submit your files</h4>
                <form method="post" action="/run" enctype = "multipart/form-data">
                    <div style="margin-top: -10px;">
                        <label id="json-label" for="json-input" class="custom-file-upload">
                            JSON input
                        </label>
                        <input type="file" id="json-input" name="json" />
                    </div>
                    <div id="csv-files" style="display:none; margin-top: -10px;">
                        <label id="facilities-label" for="facilities-input" class="custom-file-upload">
                            Facilities CSV
                        </label>
                        <input type="file" id="facilities-input" name="csvfacility"/>
                        <label id="clients-label" for="clients-input" class="custom-file-upload">
                            Clients CSV
                        </label>
                        <input type="file" id="clients-input" name="csvclient"/>
                    </div>
                    <input class="btn" type="submit" value="submit"/>
                </form>
                <div></div> 
            </div>
        </div>
        
        <script type="text/javascript" src="{{url_for('static', filename='js/upload.js')}}"></script>
    </body>
</html>
